h2{
    font-size: 20px;
    
}

.back-black{
    background-color: black;
}

#white{
    color: blanchedalmond;
}

.indent{
    text-indent: 30%;
}

.background{
    background-image: image();
}

.box-set {
    position: relative;
    height: 400px;
    background: darkgray;
  }
  
  .box {
    /* relative positioning */
    position: relative;
    width: 150px;
    height: 150px;
    background: #2db34a;
    border: 2px solid black;
  }
  
  .box-1 {
    top: 20px;
  }
  
  .box-2 {
    left: 40px;
  }
  
  .box-3 {
    right: 20px;
    bottom: -10px;
  }
  